@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100;400;800;900&family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&family=Raleway:wght@100;300;400;600&display=swap');
@import "primeflex/primeflex.css";

h1, h2, h3, h4, h5, h6, .p-card-title {
    // font-family: 'Noto Serif Telugu', serif;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

body, span, td, .p-button-label {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    padding: 3rem;

    .p-card {
        margin-top: 3rem;
    }
}